.btn {
  border: none;
  background-color: var(--color-7);
  color: var(--color-1);
  font-family: inherit;
  font-weight: var(--fw-200);
}

.btn--large {
  border-radius: var(--br-300);
  padding: 1rem 3rem; /* SPACING */
}
