:root 
{
    /* Colors */
    --color-1: #FFF;
    --color-2: #F8BCBC;
    --color-3: #FFFAD1;
    --color-4: #94D7A2;
    --color-5: #DEEBF8;
    --color-6: #F5F7FB;
    --color-7: #4D5B9E;
    --color-8: #D6DBF5;
    --color-9: #293264;

    /* Font Families */
    --f-inter: 'Inter', sans-serif;
    --f-karla: 'Karla', sans-serif;

    /* Font Sizes */
    --fs-100: 0.625rem;
    --fs-200: 0.8125rem;
    --fs-300: 1rem;
    --fs-400: 1.9375rem;

    /* Font Weights */
    --fw-100: 400;
    --fw-200: 500;
    --fw-300: 600;
    --fw-400: 700;

    /* Border Radiuses */
    --br-100: 0.5rem;
    --br-200: 0.625rem;
    --br-300: 0.9375rem;
}